openapi: 3.0.1
info:
  title: Wrike API
  version: "4.0"
servers:
- url: https://www.wrike.com/api/v4
paths:
  /access_roles:
    get:
      tags:
      - Access Roles
      summary: Get Access Roles
      description: Access roles.
      operationId: GET:/access_roles/empty
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessRole'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - amReadOnlyAccessRole
  /account:
    get:
      tags:
      - Account
      summary: Query Accounts
      description: Returns current account.
      operationId: GET:/account/empty
      parameters:
      - name: metadata
        in: query
        description: "Metadata filter, exact match for metadata key or key-value pair"
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata'
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `metadata` - Account metadata
          * `customFields` - Account custom fields
          * `subscription` - Account subscription
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - metadata
                - customFields
                - subscription
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    put:
      tags:
      - Account
      summary: Modify Account
      description: Update current account.
      operationId: PUT:/account/empty
      parameters:
      - name: metadata
        in: query
        description: "Metadata to be updated. Limit : 100"
        required: false
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              description: Metadata to be updated
              items:
                $ref: '#/components/schemas/Metadata'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /approvals:
    get:
      tags:
      - Approvals
      summary: Get approvals
      description: Reads approvals by filter. When no filter parameters passed returns
        all approvals shared with a user.
      operationId: GET:/approvals/empty
      parameters:
      - name: statuses
        in: query
        description: "Get approvals for specified statuses\n* `Draft` - \n* `Approved`\
          \ - \n* `Rejected` - \n* `Cancelled` - \n* `Pending` - "
        required: false
        schema:
          $ref: '#/components/schemas/ApprovalStatus'
      - name: updatedDate
        in: query
        description: "Last updated date filter, exact match or range"
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantRange'
      - name: approvers
        in: query
        description: "Approvers filter, match of any"
        required: false
        content:
          application/json:
            schema:
              type: array
              description: "Approvers filter, match of any"
              items:
                $ref: '#/components/schemas/UserId'
      - name: pendingApprovers
        in: query
        description: "Pending approvers filter, match of any"
        required: false
        content:
          application/json:
            schema:
              type: array
              description: "Pending approvers filter, match of any"
              items:
                $ref: '#/components/schemas/UserId'
      - name: limit
        in: query
        description: Limit on number of returned approvals
        required: false
        schema:
          type: number
          description: Limit on number of returned approvals
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: number
          description: Page size
      - name: nextPageToken
        in: query
        description: "Next page token, overrides any other parameters in request"
        required: false
        schema:
          type: string
          description: "Next page token, overrides any other parameters in request"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /folders/{folderId}/approvals:
    get:
      tags:
      - Approvals
      summary: Get approvals
      description: Reads all approvals on folder/project.
      operationId: GET:/folders/single/approvals
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/FolderId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    post:
      tags:
      - Approvals
      summary: Create approval
      description: "Create an approval for folder/project. Creates approval in draft\
        \ status when no approvers assigned. Otherwise creates in pending status.\
        \ Approvals created via API will not be affected by workflow automation, e.g.\
        \ task status will not be automatically transitioned when approval finishes."
      operationId: POST:/folders/single/approvals
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/FolderId'
      - name: description
        in: query
        description: Description
        required: false
        schema:
          type: string
          description: Description
      - name: dueDate
        in: query
        description: Due date
        required: false
        schema:
          type: string
          description: Due date
      - name: approvers
        in: query
        description: Assign approvers
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Assign approvers
              items:
                $ref: '#/components/schemas/UserId'
      - name: attachments
        in: query
        description: List of origin version attachments to set in approval
        required: false
        content:
          application/json:
            schema:
              type: array
              description: List of origin version attachments to set in approval
              items:
                $ref: '#/components/schemas/AttachmentId'
      - name: autoFinishOnApprove
        in: query
        description: Is finish approval automatically when all approvers have approved.
          Set to true by default
        required: false
        schema:
          type: string
          description: Is finish approval automatically when all approvers have approved.
            Set to true by default
      - name: autoFinishOnReject
        in: query
        description: Is finish approval automatically when some of approvers have
          rejected. Set to true by default
        required: false
        schema:
          type: string
          description: Is finish approval automatically when some of approvers have
            rejected. Set to true by default
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /tasks/{taskId}/approvals:
    get:
      tags:
      - Approvals
      summary: Get approvals
      description: Reads all approvals on task.
      operationId: GET:/tasks/single/approvals
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    post:
      tags:
      - Approvals
      summary: Create approval
      description: "Create an approval for task. Creates approval in draft status\
        \ when no approvers assigned. Otherwise creates in pending status. Approvals\
        \ created via API will not be affected by workflow automation, e.g. task status\
        \ will not be automatically transitioned when approval finishes."
      operationId: POST:/tasks/single/approvals
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskId'
      - name: description
        in: query
        description: Description
        required: false
        schema:
          type: string
          description: Description
      - name: dueDate
        in: query
        description: Due date
        required: false
        schema:
          type: string
          description: Due date
      - name: approvers
        in: query
        description: Assign approvers
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Assign approvers
              items:
                $ref: '#/components/schemas/UserId'
      - name: attachments
        in: query
        description: List of origin version attachments to set in approval
        required: false
        content:
          application/json:
            schema:
              type: array
              description: List of origin version attachments to set in approval
              items:
                $ref: '#/components/schemas/AttachmentId'
      - name: autoFinishOnApprove
        in: query
        description: Is finish approval automatically when all approvers have approved.
          Set to true by default
        required: false
        schema:
          type: string
          description: Is finish approval automatically when all approvers have approved.
            Set to true by default
      - name: autoFinishOnReject
        in: query
        description: Is finish approval automatically when some of approvers have
          rejected. Set to true by default
        required: false
        schema:
          type: string
          description: Is finish approval automatically when some of approvers have
            rejected. Set to true by default
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /approvals/{approvalIds}:
    get:
      tags:
      - Approvals
      summary: Get approvals
      description: Reads approvals by ids.
      operationId: GET:/approvals/multi
      parameters:
      - name: approvalIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: '#/components/schemas/ApprovalId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /approvals/{approvalId}:
    put:
      tags:
      - Approvals
      summary: Update approval
      description: Update approval.
      operationId: PUT:/approvals/single
      parameters:
      - name: approvalId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ApprovalId'
      - name: description
        in: query
        description: description
        required: false
        schema:
          type: string
          description: description
      - name: dueDate
        in: query
        description: due date
        required: false
        schema:
          type: string
          description: due date
      - name: addApprovers
        in: query
        description: Assign approvers
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Assign approvers
              items:
                $ref: '#/components/schemas/UserId'
      - name: removeApprovers
        in: query
        description: Remove approvers
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Remove approvers
              items:
                $ref: '#/components/schemas/UserId'
      - name: addAttachments
        in: query
        description: Add origin version attachments to approval
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Add origin version attachments to approval
              items:
                $ref: '#/components/schemas/AttachmentId'
      - name: removeAttachments
        in: query
        description: Remove origin version attachments from approval
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Remove origin version attachments from approval
              items:
                $ref: '#/components/schemas/AttachmentId'
      - name: autoFinishOnApprove
        in: query
        description: Is finish approval automatically when all approvers have approved
        required: false
        schema:
          type: string
          description: Is finish approval automatically when all approvers have approved
      - name: autoFinishOnReject
        in: query
        description: Is finish approval automatically when some of approvers have
          rejected
        required: false
        schema:
          type: string
          description: Is finish approval automatically when some of approvers have
            rejected
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
    delete:
      tags:
      - Approvals
      summary: Cancel approval
      description: Cancel approval.
      operationId: DELETE:/approvals/single
      parameters:
      - name: approvalId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ApprovalId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /async_job/{asyncJobId}:
    get:
      tags:
      - Async job
      summary: Get async job
      description: Get Async job specified by id.
      operationId: GET:/async_job/single
      parameters:
      - name: asyncJobId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AsyncJobId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AsyncJob'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /attachments:
    get:
      tags:
      - Attachments
      summary: Get Attachments
      description: Return all Attachments of account tasks and folders.
      operationId: GET:/attachments/empty
      parameters:
      - name: versions
        in: query
        description: Get attachments with previous versions
        required: false
        schema:
          type: boolean
          description: Get attachments with previous versions
      - name: createdDate
        in: query
        description: Created date filter. Required to request attachments in account.
          Time range duration should be less than 31 day
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantRange'
      - name: withUrls
        in: query
        description: Get attachment URLs. The link for attachment from Wrike is valid
          for 24 hours from when you make the request
        required: false
        schema:
          type: boolean
          description: Get attachment URLs. The link for attachment from Wrike is
            valid for 24 hours from when you make the request
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /folders/{folderId}/attachments:
    get:
      tags:
      - Attachments
      summary: Get Attachments
      description: Returns all Attachments of a folder.
      operationId: GET:/folders/single/attachments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/FolderId'
      - name: versions
        in: query
        description: Get attachments with previous versions
        required: false
        schema:
          type: boolean
          description: Get attachments with previous versions
      - name: createdDate
        in: query
        description: Created date filter. Required to request attachments in account.
          Time range duration should be less than 31 day
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantRange'
      - name: withUrls
        in: query
        description: Get attachment URLs. The link for attachment from Wrike is valid
          for 24 hours from when you make the request
        required: false
        schema:
          type: boolean
          description: Get attachment URLs. The link for attachment from Wrike is
            valid for 24 hours from when you make the request
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    post:
      tags:
      - Attachments
      summary: Create Wrike Attachment
      description: Add an attachment to a folder.
      operationId: POST:/folders/single/attachments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/FolderId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /tasks/{taskId}/attachments:
    get:
      tags:
      - Attachments
      summary: Get Attachments
      description: Returns all Attachments of a task.
      operationId: GET:/tasks/single/attachments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskId'
      - name: versions
        in: query
        description: Get attachments with previous versions
        required: false
        schema:
          type: boolean
          description: Get attachments with previous versions
      - name: createdDate
        in: query
        description: Created date filter. Required to request attachments in account.
          Time range duration should be less than 31 day
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantRange'
      - name: withUrls
        in: query
        description: Get attachment URLs. The link for attachment from Wrike is valid
          for 24 hours from when you make the request
        required: false
        schema:
          type: boolean
          description: Get attachment URLs. The link for attachment from Wrike is
            valid for 24 hours from when you make the request
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    post:
      tags:
      - Attachments
      summary: Create Wrike Attachment
      description: Add an attachment to a task.
      operationId: POST:/tasks/single/attachments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /attachments/{attachmentIds}:
    get:
      tags:
      - Attachments
      summary: Get Attachments
      description: Returns complete information about multiple attachments.
      operationId: GET:/attachments/multi
      parameters:
      - name: attachmentIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: '#/components/schemas/AttachmentId'
      - name: versions
        in: query
        description: Get attachments with previous versions
        required: false
        schema:
          type: boolean
          description: Get attachments with previous versions
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /attachments/{attachmentId}/download:
    get:
      tags:
      - Attachments
      summary: Download Wrike Attachment
      description: "Returns attachment content. It can be accessed via /attachments/id/download/name.ext\
        \ URL. In this case, 'name.ext' will be returned as the file name."
      operationId: GET:/attachments/single/download
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AttachmentId'
      responses:
        "2XX":
          description: success response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /attachments/{attachmentId}/preview:
    get:
      tags:
      - Attachments
      summary: Download Attachment Preview
      description: "Returns Preview for the attachment. The preview can be accessed\
        \ via /attachments/id/preview/name.ext URL. In this case, 'name.ext' will\
        \ be returned as the file name."
      operationId: GET:/attachments/single/preview
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AttachmentId'
      - name: size
        in: query
        description: |-
          Preview dimensions
          * `w44` - Width = 44, height = auto
          * `w300` - Width = 300, height = auto
          * `w400` - Width = 400, height = auto
          * `w100` - Width = 100, height = auto
          * `h400` - Width = auto, height = 400
          * `w200` - Width = 200, height = auto
          * `full` - Full size
        required: false
        schema:
          $ref: '#/components/schemas/PreviewSize'
      responses:
        "2XX":
          description: success response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /attachments/{attachmentId}/url:
    get:
      tags:
      - Attachments
      summary: Get Access URL for Attachment
      description: Public URL to an attachment from Wrike or an external service.
        The link for attachment from Wrike is valid for 24 hours from when you make
        the request.
      operationId: GET:/attachments/single/url
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AttachmentId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttachmentUrl'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /attachments/{attachmentId}:
    put:
      tags:
      - Attachments
      summary: Update Attachment
      description: Update previously uploaded Attachment with new version.
      operationId: PUT:/attachments/single
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AttachmentId'
      - name: url
        in: query
        description: Download attachment by url
        required: false
        schema:
          type: string
          description: Download attachment by url
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
    delete:
      tags:
      - Attachments
      summary: Delete Attachment
      description: Delete Attachment by ID.
      operationId: DELETE:/attachments/single
      parameters:
      - name: attachmentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AttachmentId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      type: string
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /audit_log:
    get:
      tags:
      - Audit Log
      summary: Get Audit Log
      description: "Get <a href=\"https://help.wrike.com/hc/en-us/articles/209606309-Audit-Log-Reports\"\
        >Audit Log Reports</a>, that contains audit trail for actions in the account.\
        \ Available to Enterprise admins with \"Create user activity reports\" right."
      operationId: GET:/audit_log/empty
      parameters:
      - name: eventDate
        in: query
        description: "Event date filter, range"
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantRange'
      - name: operations
        in: query
        description: "Operations filter\n* `SecondFactorEnabled` - \n* `CustomFieldRemoved`\
          \ - \n* `CalendarExternalLinksActivated` - \n* `TaskDuplication` - \n* `GanttSnapshotDeleted`\
          \ - \n* `CalendarExternalLinkDeleted` - \n* `TaskRestored` - \n* `CalendarExternalLinksDeactivated`\
          \ - \n* `PowerBIPublicLinkDeleted` - \n* `ApprovalCanceled` - \n* `RequestFormCreated`\
          \ - \n* `SamlClearPasswordForSamlUsers` - \n* `OneTimePasswordUsed` - \n\
          * `AnalyzeWidgetPublicLinkCreated` - \n* `TaskErased` - \n* `InvitationPolicyChanged`\
          \ - \n* `CalendarExternalLinkCreated` - \n* `UserTaskGroupRolesChanged`\
          \ - \n* `UserJoinedSpace` - \n* `SamlSSOSettingsChanged` - \n* `UserFailLogin`\
          \ - \n* `SamlSSODisabled` - \n* `AdminMailSettingsChanged` - \n* `CustomFieldRemovedFromFolder`\
          \ - \n* `UserLoggedIn` - \n* `UserRoleChanged` - \n* `CustomFieldAddedToFolder`\
          \ - \n* `UserTypeModified` - \n* `AccessCodeAccepted` - \n* `PublicLinkExpirationChanged`\
          \ - \n* `UserLogout` - \n* `PowerBIPublicLinkCreated` - \n* `GuestReviewerRevoked`\
          \ - \n* `ApprovedIpRangesOrSubnetsChanged` - \n* `TaskScheduleChanged` -\
          \ \n* `CustomFieldRestored` - \n* `AccountDeleted` - \n* `UserAdminPermissionsChanged`\
          \ - \n* `AttachDeleted` - \n* `SpaceDeleted` - \n* `AuditReportCreated`\
          \ - \n* `UserTypeCreated` - \n* `ExcelExportCreated` - \n* `AdminLoggedInAsUser`\
          \ - \n* `WorkflowCreated` - \n* `TaskUnsharedFromAuthor` - \n* `AccessAuditReportCsvExport`\
          \ - \n* `AttachMarkAsFinal` - \n* `OneTimePasswordStatusSwitched` - \n*\
          \ `ApproverAdded` - \n* `UserLeftSpace` - \n* `TaskUnarchived` - \n* `ApprovalDescriptionChanged`\
          \ - \n* `GroupParentRemoved` - \n* `GuestReviewAccountSettingsChanged` -\
          \ \n* `WorkflowDeleted` - \n* `PasswordPolicyModified` - \n* `GroupInviteeAdded`\
          \ - \n* `UserRestored` - \n* `ApprovalDueDateChanged` - \n* `AnalyzeWidgetPublicLinkDeleted`\
          \ - \n* `SpaceArchivedUnarchived` - \n* `TaskStatusChanged` - \n* `TaskCommentChanged`\
          \ - \n* `AccessRoleDeleted` - \n* `TaskUnassigned` - \n* `AnalyzePublicLinkCreated`\
          \ - \n* `GuestReviewRejected` - \n* `TaskUnshared` - \n* `PasswordChanged`\
          \ - \n* `RequestFormDeleted` - \n* `AttemptDownloadInfectedAttach` - \n\
          * `InvitationSend` - \n* `AccessRoleModified` - \n* `SpaceCreated` - \n\
          * `ApprovedDomainsChanged` - \n* `TimesheetStatusChanged` - \n* `TimelogLocked`\
          \ - \n* `UserRevokeAdmin` - \n* `RecycleBinErased` - \n* `ApproverRemoved`\
          \ - \n* `UserDeleted` - \n* `GanttSnapshotCreated` - \n* `GroupMemberRemoved`\
          \ - \n* `UserProfileUpdated` - \n* `SecondFactorUsageReportCreated` - \n\
          * `SecondFactorDisabled` - \n* `AttachViewed` - \n* `AccessRoleCreated`\
          \ - \n* `GroupMemberAdded` - \n* `AccountDataExportRequested` - \n* `SamlSSOMetadataChanged`\
          \ - \n* `GroupRenamed` - \n* `PublicLinkCreated` - \n* `TaskShared` - \n\
          * `AccountModified` - \n* `PublicLinkPasswordRequested` - \n* `WorkflowModified`\
          \ - \n* `PublicLinkDeleted` - \n* `AccessCodeDeclined` - \n* `AnalyzeWidgetPublicLinkAccessed`\
          \ - \n* `ApprovalCreated` - \n* `Oauth2AccessRevoked` - \n* `TaskParentRemoved`\
          \ - \n* `AntivirusDeletedInfectedAttach` - \n* `RequestFormModified` - \n\
          * `GroupInviteeRemoved` - \n* `GuestReviewerInvited` - \n* `TaskArchived`\
          \ - \n* `AccountBackupCreated` - \n* `FeedCreated` - \n* `AccessCodeGenerated`\
          \ - \n* `UserDeactivated` - \n* `AttachCopied` - \n* `GroupParentAdded`\
          \ - \n* `GuestReviewerChanged` - \n* `TimelogUnlocked` - \n* `TaskCreated`\
          \ - \n* `OneTimePasswordRevoked` - \n* `ApprovalFinished` - \n* `TaskAssigned`\
          \ - \n* `OneTimePasswordCreated` - \n* `GroupCreated` - \n* `TimesheetCreated`\
          \ - \n* `UsersAndGroupsExported` - \n* `AttachMoved` - \n* `CustomFieldCreated`\
          \ - \n* `AutomatedIntegrationsExecution` - \n* `PowerBIPublicLinkAccessed`\
          \ - \n* `AttachUnmarkAsFinal` - \n* `AnalyzePublicLinkAccessed` - \n* `GroupDeleted`\
          \ - \n* `CustomFieldModified` - \n* `TaskCommentDeleted` - \n* `AnalyzePublicLinkDeleted`\
          \ - \n* `UserTypeDeleted` - \n* `Oauth2AccessGranted` - \n* `UserGrantAdmin`\
          \ - \n* `PublicLinksAccountSettingsChanged` - \n* `TaskDeleted` - \n* `InvitationAccepted`\
          \ - \n* `AccountDataExportGenerated` - \n* `SamlSSOEnabled` - \n* `PublicLinkPasswordChanged`\
          \ - \n* `TaskParentAdded` - \n* `ApprovalDecisionMade` - \n* `GuestReviewAccepted`\
          \ - \n* `UserCustomFieldValueChanged` - \n* `UserActivated` - \n* `AttachUploaded`\
          \ - \n* `AttachDownloaded` - "
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Operations filter
              items:
                $ref: '#/components/schemas/AuditLogOperation'
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: number
          description: Page size
      - name: nextPageToken
        in: query
        description: "Next page token, overrides any other parameters in request"
        required: false
        schema:
          type: string
          description: "Next page token, overrides any other parameters in request"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - amReadOnlyAuditLog
  /bookings/{bookingIds}:
    get:
      tags:
      - Bookings
      summary: Query Bookings
      description: Get bookings list.
      operationId: GET:/bookings/multi
      parameters:
      - name: bookingIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: '#/components/schemas/BookingId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /bookings:
    get:
      tags:
      - Bookings
      summary: Query Bookings
      description: Returns list of all bookings in account.
      operationId: GET:/bookings/empty
      parameters:
      - name: startDate
        in: query
        description: Start date
        required: false
        schema:
          type: string
          description: Start date
      - name: finishDate
        in: query
        description: Finish date
        required: false
        schema:
          type: string
          description: Finish date
      - name: responsibleIds
        in: query
        description: "IDs of responsible users. Limit : 15000"
        required: false
        content:
          application/json:
            schema:
              maxItems: 15000
              type: array
              description: IDs of responsible users
              items:
                $ref: '#/components/schemas/UserId'
      - name: responsiblePlaceholderIds
        in: query
        description: "IDs of responsible placeholders. Limit : 15000"
        required: false
        content:
          application/json:
            schema:
              maxItems: 15000
              type: array
              description: IDs of responsible placeholders
              items:
                $ref: '#/components/schemas/PlaceholderId'
      - name: showDescendants
        in: query
        description: If true return bookings from descendant folders
        required: false
        schema:
          type: string
          description: If true return bookings from descendant folders
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /folders/{folderId}/bookings:
    get:
      tags:
      - Bookings
      summary: Query Bookings
      description: Get bookings from folder.
      operationId: GET:/folders/single/bookings
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/FolderId'
      - name: startDate
        in: query
        description: Start date
        required: false
        schema:
          type: string
          description: Start date
      - name: finishDate
        in: query
        description: Finish date
        required: false
        schema:
          type: string
          description: Finish date
      - name: responsibleIds
        in: query
        description: "IDs of responsible users. Limit : 15000"
        required: false
        content:
          application/json:
            schema:
              maxItems: 15000
              type: array
              description: IDs of responsible users
              items:
                $ref: '#/components/schemas/UserId'
      - name: responsiblePlaceholderIds
        in: query
        description: "IDs of responsible placeholders. Limit : 15000"
        required: false
        content:
          application/json:
            schema:
              maxItems: 15000
              type: array
              description: IDs of responsible placeholders
              items:
                $ref: '#/components/schemas/PlaceholderId'
      - name: showDescendants
        in: query
        description: If true return bookings from descendant folders
        required: false
        schema:
          type: string
          description: If true return bookings from descendant folders
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    post:
      tags:
      - Bookings
      summary: Create Booking
      description: Create Booking.
      operationId: POST:/folders/single/bookings
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/FolderId'
      - name: bookingDates
        in: query
        description: Booking dates
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingDates'
      - name: responsibleId
        in: query
        description: ID of responsible
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      - name: responsiblePlaceholderId
        in: query
        description: ID of responsible placeholder
        required: false
        schema:
          $ref: '#/components/schemas/PlaceholderId'
      - name: effortAllocation
        in: query
        description: Effort allocation
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEffort'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /bookings/{bookingId}:
    put:
      tags:
      - Bookings
      summary: Update Booking
      description: Update Booking.
      operationId: PUT:/bookings/single
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/BookingId'
      - name: bookingDates
        in: query
        description: Booking dates
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingDates'
      - name: responsibleId
        in: query
        description: ID of responsible
        required: false
        schema:
          $ref: '#/components/schemas/UserId'
      - name: responsiblePlaceholderId
        in: query
        description: ID of responsible placeholder
        required: false
        schema:
          $ref: '#/components/schemas/PlaceholderId'
      - name: effortAllocation
        in: query
        description: Effort allocation
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEffort'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
    delete:
      tags:
      - Bookings
      summary: Delete Booking
      description: Delete booking by Id.
      operationId: DELETE:/bookings/single
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/BookingId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /colors:
    get:
      tags:
      - Colors
      summary: Query Colors
      description: Get color name - code mapping.
      operationId: GET:/colors/empty
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ColorsInfo'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /comments:
    get:
      tags:
      - Comments
      summary: Get Comments
      description: Get all comments in current account.
      operationId: GET:/comments/empty
      parameters:
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
      - name: types
        in: query
        description: "Comment type filter\n* `Email` - \n* `Regular` - "
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Comment type filter
              items:
                $ref: '#/components/schemas/CommentType'
      - name: updatedDate
        in: query
        description: Deprecated because this parameter filters by created date instead
          of updated date. Please use the createdDate parameter instead
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantRange'
      - name: createdDate
        in: query
        description: Use the createdDate parameter to get all comments created within
          a specific date range. The date range must be 7 days or shorter
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantRange'
      - name: limit
        in: query
        description: Maximum number of returned comments
        required: false
        schema:
          type: number
          description: Maximum number of returned comments
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `type` - Comment type
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - type
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /folders/{folderId}/comments:
    get:
      tags:
      - Comments
      summary: Get Comments
      description: Get folder comments.
      operationId: GET:/folders/single/comments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/FolderId'
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
      - name: types
        in: query
        description: "Comment type filter\n* `Email` - \n* `Regular` - "
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Comment type filter
              items:
                $ref: '#/components/schemas/CommentType'
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `type` - Comment type
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - type
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    post:
      tags:
      - Comments
      summary: Create Comment
      description: Create a comment in the folder. The virtual Root and Recycle Bin
        folders cannot have comments.
      operationId: POST:/folders/single/comments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/FolderId'
      - name: text
        in: query
        description: "Comment text, can not be empty. Supported HTML tags can be found\
          \ in <a href=\"https://developers.wrike.com/special-syntax\">Special syntax</a>"
        required: true
        schema:
          type: string
          description: "Comment text, can not be empty. Supported HTML tags can be\
            \ found in <a href=\"https://developers.wrike.com/special-syntax\">Special\
            \ syntax</a>"
      - name: plainText
        in: query
        description: "Treat comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Treat comment text as plain text, HTML otherwise"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /tasks/{taskId}/comments:
    get:
      tags:
      - Comments
      summary: Get Comments
      description: Get task comments.
      operationId: GET:/tasks/single/comments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskId'
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
      - name: types
        in: query
        description: "Comment type filter\n* `Email` - \n* `Regular` - "
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Comment type filter
              items:
                $ref: '#/components/schemas/CommentType'
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `type` - Comment type
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - type
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    post:
      tags:
      - Comments
      summary: Create Comment
      description: Create comment in task.
      operationId: POST:/tasks/single/comments
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskId'
      - name: text
        in: query
        description: "Comment text, can not be empty. Supported HTML tags can be found\
          \ in <a href=\"https://developers.wrike.com/special-syntax\">Special syntax</a>"
        required: true
        schema:
          type: string
          description: "Comment text, can not be empty. Supported HTML tags can be\
            \ found in <a href=\"https://developers.wrike.com/special-syntax\">Special\
            \ syntax</a>"
      - name: plainText
        in: query
        description: "Treat comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Treat comment text as plain text, HTML otherwise"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /comments/{commentIds}:
    get:
      tags:
      - Comments
      summary: Get Comments
      description: Get single or multiple comments by their IDs.
      operationId: GET:/comments/multi
      parameters:
      - name: commentIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: '#/components/schemas/CommentId'
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
      - name: types
        in: query
        description: "Comment type filter\n* `Email` - \n* `Regular` - "
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Comment type filter
              items:
                $ref: '#/components/schemas/CommentType'
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `type` - Comment type
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - type
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /comments/{commentId}:
    put:
      tags:
      - Comments
      summary: Update Comment
      description: Update Comment by ID. A comment is available for updates only during
        the 5 minutes after creation.
      operationId: PUT:/comments/single
      parameters:
      - name: commentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CommentId'
      - name: text
        in: query
        description: "Comment text, can not be empty. Supported HTML tags can be found\
          \ in <a href=\"https://developers.wrike.com/special-syntax\">Special syntax</a>"
        required: true
        schema:
          type: string
          description: "Comment text, can not be empty. Supported HTML tags can be\
            \ found in <a href=\"https://developers.wrike.com/special-syntax\">Special\
            \ syntax</a>"
      - name: plainText
        in: query
        description: "Get comment text as plain text, HTML otherwise"
        required: false
        schema:
          type: boolean
          description: "Get comment text as plain text, HTML otherwise"
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
    delete:
      tags:
      - Comments
      summary: Delete Comment
      description: Delete comment by ID.
      operationId: DELETE:/comments/single
      parameters:
      - name: commentId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CommentId'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      type: string
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /contacts:
    get:
      tags:
      - Contacts
      summary: Query Contacts
      description: List contacts of all users and user groups in current account.
      operationId: GET:/contacts/empty
      parameters:
      - name: me
        in: query
        description: If present - only contact info of requesting user is returned
        required: true
        schema:
          type: boolean
          description: If present - only contact info of requesting user is returned
      - name: metadata
        in: query
        description: "Metadata filter, exact match for metadata key or key-value pair"
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata'
      - name: deleted
        in: query
        description: Deleted flag filter
        required: false
        schema:
          type: boolean
          description: Deleted flag filter
      - name: customFields
        in: query
        description: Custom field filter
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Custom field filter
              items:
                $ref: '#/components/schemas/CustomFieldFilter'
      - name: emails
        in: query
        description: "Email contacts filter. Limit : 100"
        required: false
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              description: Email contacts filter
              items:
                type: string
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `metadata` - Contact metadata
          * `currentCostRate` - Current user's cost rate
          * `customFields` - User's custom fields
          * `currentBillRate` - Current user's bill rate
          * `jobRoleId` - Current user's jobRoleId
          * `workScheduleId` - Contact work schedule id
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - metadata
                - currentCostRate
                - customFields
                - currentBillRate
                - jobRoleId
                - workScheduleId
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /contacts/{contactIds}:
    get:
      tags:
      - Contacts
      summary: Query Contacts
      description: List contacts of specified users and user groups.
      operationId: GET:/contacts/multi
      parameters:
      - name: contactIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                oneOf:
                - $ref: '#/components/schemas/UserId'
                - $ref: '#/components/schemas/InvitationId'
      - name: metadata
        in: query
        description: "Metadata filter, exact match for metadata key or key-value pair"
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata'
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `metadata` - Contact metadata
          * `currentCostRate` - Current user's cost rate
          * `customFields` - User's custom fields
          * `currentBillRate` - Current user's bill rate
          * `jobRoleId` - Current user's jobRoleId
          * `workScheduleId` - Contact work schedule id
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - metadata
                - currentCostRate
                - customFields
                - currentBillRate
                - jobRoleId
                - workScheduleId
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /contacts/{contactIds}/contacts_history:
    get:
      tags:
      - Contacts
      summary: Query Contacts fields history
      description: Query Contacts fields history.
      operationId: GET:/contacts/multi/contacts_history
      parameters:
      - name: contactIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                oneOf:
                - $ref: '#/components/schemas/UserId'
                - $ref: '#/components/schemas/InvitationId'
      - name: updatedDate
        in: query
        description: Update date filter
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantRange'
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `billRate` - User's bill rate
          * `costRate` - User's cost rate
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - billRate
                - costRate
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactChangeHistory'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
  /contacts/{contactId}:
    put:
      tags:
      - Contacts
      summary: Modify Contact
      description: Update contact of requesting user by ID (use 'Modify User' method
        to update other users). Account Admins may use this method to update group
        info by group ID. .
      operationId: PUT:/contacts/single
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          oneOf:
          - $ref: '#/components/schemas/UserId'
          - $ref: '#/components/schemas/InvitationId'
      - name: metadata
        in: query
        description: "Metadata to be updated. Requesting user has read/write access\
          \ to his own metadata, other entries are read-only. Limit : 100"
        required: false
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              description: "Metadata to be updated. Requesting user has read/write\
                \ access to his own metadata, other entries are read-only"
              items:
                $ref: '#/components/schemas/Metadata'
      - name: currentBillRate
        in: query
        description: Update current user's bill rate
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetRate'
      - name: currentCostRate
        in: query
        description: Update current user's cost rate
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetRate'
      - name: jobRoleId
        in: query
        description: Update current user's job role id
        required: false
        schema:
          $ref: '#/components/schemas/JobRoleId'
      - name: customFields
        in: query
        description: "Custom fields to be updated or deleted (null value removes field).\
          \ Limit : 100"
        required: false
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              description: Custom fields to be updated or deleted (null value removes
                field)
              items:
                $ref: '#/components/schemas/CustomField'
      - name: fields
        in: query
        description: |-
          Json string array of optional fields to be included in the response model
          * `currentCostRate` - Current user's cost rate
          * `customFields` - User's custom fields
          * `currentBillRate` - Current user's bill rate
          * `jobRoleId` - Current user's job role id
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Json string array of optional fields to be included in
                the response model
              items:
                type: string
                enum:
                - currentCostRate
                - customFields
                - currentBillRate
                - jobRoleId
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /workschedules/{workscheduleId}/duplicate:
    post:
      tags:
      - Copy Work Schedule
      summary: Copy Work Schedule
      description: Duplicate work schedule in account.
      operationId: POST:/workschedules/single/duplicate
      parameters:
      - name: workscheduleId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WorkScheduleId'
      - name: title
        in: query
        description: Name of work schedule
        required: true
        schema:
          type: string
          description: Name of work schedule
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkSchedule'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - amReadWriteWorkSchedule
  /customfields:
    get:
      tags:
      - Custom Fields
      summary: Query Custom Fields
      description: Returns a list of custom fields in current account.
      operationId: GET:/customfields/empty
      parameters:
      - name: applicableEntityTypes
        in: query
        description: "Applicable entity types\n* `User` - \n* `WorkItem` - "
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Applicable entity types
              items:
                $ref: '#/components/schemas/CustomFieldApplicableEntityType'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldDescription'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadOnly
        - wsReadWrite
    post:
      tags:
      - Custom Fields
      summary: Create Custom Field
      description: Create custom field in specified account.
      operationId: POST:/customfields/empty
      parameters:
      - name: title
        in: query
        description: Custom field title
        required: true
        schema:
          type: string
          description: Custom field title
      - name: type
        in: query
        description: |-
          Custom field type
          * `Numeric` - Comparable field
          * `Multiple` - Collection field
          * `Contacts` - Collection field
          * `Percentage` - Comparable field
          * `Checkbox` - Boolean field
          * `Currency` - Comparable field
          * `Text` - String field, Comparable field
          * `DropDown` - String field, Comparable field
          * `Duration` - Comparable field
          * `LinkToDatabase` - Link to database field
          * `Date` - Comparable field
        required: true
        schema:
          $ref: '#/components/schemas/CustomFieldType'
      - name: spaceId
        in: query
        description: Custom field space ID
        required: false
        schema:
          $ref: '#/components/schemas/SpaceId'
      - name: sharing
        in: query
        description: Custom field access settings
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldSharing'
      - name: shareds
        in: query
        description: "Users to share custom field with. Parameter is obsolete, use\
          \ 'sharing' instead"
        required: false
        content:
          application/json:
            schema:
              type: array
              description: "Users to share custom field with. Parameter is obsolete,\
                \ use 'sharing' instead"
              items:
                $ref: '#/components/schemas/UserId'
      - name: settings
        in: query
        description: Custom field settings
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldSettings'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    $ref: '#/components/schemas/ResponseKind'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldDescription'
        "4XX":
          description: client-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "5XX":
          description: server-side error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - HTTP: []
      - OAUTH2:
        - Default
        - wsReadWrite
  /customfields/{customfieldIds}:
    get:
      tags:
      - Custom Fields
      summary: Query Custom Fields
      description: Returns complete information about specified custom fields.
      operationId: GET:/customfields/multi
      parameters:
      - name: customfieldIds
        in: path
        description: "Comma-separated list of ids. Limit : 1000"
        required: true
        content:
          text/csv:
            schema:
              maxItems: 1000
              type: array
              items:
                $ref: '#/components/schemas/CustomFieldId'
      - name: applicableEntityTypes
        in: query
        description: "Applicable entity types\n* `User` - \n* `WorkItem` - "
        required: false
        content:
          application/json:
            schema:
              type: array
              description: Applicable entity types
              items:
                $ref: '#/components/schemas/CustomFieldApplicableEntityType'
      responses:
        "2XX":
          description: success response
          content:
            application/json:
[...]
